<div class="modal-backdrop">
  <div class="modal-box">

    <div class="modal-box__header">
      <h3 class="modal-box__title">
        {{ title }}
      </h3>
    </div>

    <div class="modal-box__content">
      <ng-content></ng-content>
    </div>

    <div class="modal-box__footer">
      <button 
        *ngIf="showCancel" 
        type="button" 
        class="btn btn--secondary" 
        (click)="onCancel()" 
        (keydown.enter)="onCancel()" 
        tabindex="0">
        Cancelar
      </button>
    </div>

  </div>
</div>
