<div class="modal-backdrop">
  <div class="modal-box">

    <div class="modal-box__header">
      <h3 class="modal-box__title">
        {{ title }}
      </h3>
    </div>

    <div class="modal-box__content">
      <ng-content></ng-content>
    </div>

<div class="modal-box__footer">
  <div class="modal-box__footer-actions">
    <button
      *ngIf="showCancel"
      type="button"
      class="btn btn--secondary modal-box__btn"
      (click)="onCancel()"
      (keydown.enter)="onCancel()"
    >
      Cancelar
    </button>

    <ng-content select="[modal-actions]"></ng-content>
  </div>
</div>


  </div>
</div>