<div class="modal-backdrop">
  <div class="modal-box">

    <header class="modal-box__header">
      <h3 class="modal-box__title">{{ title }}</h3>
    </header>

    <section class="modal-box__content">
      <ng-content></ng-content>
    </section>

    <footer class="modal-box__footer">
      <button 
        *ngIf="showCancel" 
        type="button" 
        class="btn btn--secondary" 
        (click)="onCancel()" 
        (keydown.enter)="onCancel()" 
        tabindex="0">
        Cancelar
      </button>
    </footer>

  </div>
</div>
