<app-base-modal 
  [title]="title" 
  [showCancel]="true" 
  (cancel)="cancel.emit()"
>

  <div class="confirm-modal">

    <p class="confirm-modal__message">
      {{ message }}
    </p>

    <input 
      class="confirm-modal__input"
      [type]="inputType" 
      [(ngModel)]="value" 
      (keyup.enter)="handleConfirm()" 
      name="confirmInput" 
      (input)="error = false" 
      autofocus 
    />

    <p *ngIf="error" class="confirm-modal__error">
      Digite a senha
    </p>

<button 
  modal-actions
  type="button" 
  class="btn btn--primary modal-box__btn"
  (click)="handleConfirm(); $event.stopPropagation()"
>
  OK
</button>


  </div>

</app-base-modal>
