<app-base-modal [title]="title" [showCancel]="true" (cancel)="cancel.emit()">

  <p class="modal-text">{{ message }}</p>

  <input 
    class="modal-input"
    [type]="inputType" 
    [(ngModel)]="value" 
    (keyup.enter)="handleConfirm()" 
    name="confirmInput" 
    (input)="error = false" 
    autofocus 
  />

  <p *ngIf="error" class="modal-error">Digite a senha</p>

  <div class="modal-actions">
    <button 
      type="button" 
      class="btn btn--primary" 
      (click)="handleConfirm(); $event.stopPropagation()">
      OK
    </button>
  </div>

</app-base-modal>
