@use './buttons';
@use './inputs';
@use './tokens';
@use './modal.global.scss';
@use '../app/pages/products/products.page.scss';
@use '../app/pages/products/components/products-form/products-form.component.scss';
@use '../app/pages/products/components/products-list/products-list.component.scss';
@use '../app/pages/products/components/products-sale/products-sale.component.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


