.titulo-container {
    display: grid;
    place-items: center;
    margin: 20px;
}

.titulo {
    border-bottom: 3px groove #E5E7EB;
    width: 500px;
    text-align: center;
    font-weight: 800;
    color: #E5E7EB;
}