<div class="list">

  <!-- TÍTULO -->
  <div class="list__title">
    <h3 class="list__title-text">Produtos Cadastrados</h3>
  </div>

  <!-- CONTROLES -->
  <div class="list__controls">
    <input class="list__input input" type="text" placeholder="Pesquisar produto..." [(ngModel)]="searchTerm"
      (ngModelChange)="currentPage = 1; applyFilters()" />

    <select class="list__select input" [ngModel]="pageSize"
      (ngModelChange)="pageSize = +$event; currentPage = 1; applyFilters()">
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <select class="list__select input" [(ngModel)]="sortBy" (change)="currentPage = 1; applyFilters()">
      <option value="barcode">Código de barras</option>
      <option value="name">Nome do produto</option>
    </select>
  </div>

  <!-- GRID -->
  <div class="list__grid">
    <div class="card" *ngFor="let product of filteredProducts">

      <div class="card__header">
        <strong class="card__title">{{ product.name }}</strong>
      </div>

      <div class="card__body">
        <span class="card__text">Código: {{ product.barcode }}</span>
        <span class="card__text">Quantidade: {{ product.quantity }}</span>
        <span class="card__text">Preço: R$ {{ product.price | number:'1.2-2' }}</span>
      </div>

      <div class="card__actions">
        <button class="btn btn--secondary" (click)="openConfirmModal(product, 'edit')">
          ✏️ Editar
        </button>
        <button class="btn btn--danger" (click)="openConfirmModal(product, 'delete')">
          🗑️ Deletar
        </button>
      </div>

    </div>
  </div>

  <!-- PAGINAÇÃO -->
  <div class="pagination">
    <button class="btn btn--secondary pagination__btn" (click)="previousPage()" [disabled]="currentPage === 1">
      ⬅ Página anterior
    </button>

    <span class="pagination__text">
      Página {{ currentPage }} de {{ totalPages }}
    </span>

    <button class="btn btn--secondary pagination__btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Próxima página ➡
    </button>
  </div>

</div>

<!-- MODAL CONFIRMAÇÃO -->

<app-confirm-modal *ngIf="showConfirmModal" title="Confirmação de administrador"
  message="Digite a senha do administrador" inputType="password" (confirm)="confirmActionPassword($event)"
  (cancel)="showConfirmModal = false">
</app-confirm-modal>

<!-- MODAL EDITAR -->
<app-edit-product-modal *ngIf="showEditModal && productTarget" [product]="productTarget"
  [existingBarcodes]="allBarcodes" (save)="updateProduct($event)" (cancel)="showEditModal = false">
</app-edit-product-modal>

<!-- MODAL ALERTA -->
<app-alert-modal *ngIf="showAlertModal" title="Aviso" [message]="alertMessage" (close)="showAlertModal = false">
</app-alert-modal>