* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #020617;
}

:root {
  --bg-main: #020617;
  --bg-card: #0F172A;
  --text-main: #E5E7EB;
  --text-muted: #94A3B8;
  --primary: #38BDF8;
}